<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<button type="button" id="sidebarCollapse" class="btn btn-info">
				 <span>Hide Sidebar</span>
			</button>

			&#2647; <a class="navbar-brand" th:href="@{/home}">StudentSearch</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/index' ? 'active':''}">
						<a class="nav-link" th:href="@{/index}">Home <span
							class="sr-only">(current)</span>
					</a>
					</li>

					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/profile' ? 'active':''}"
						sec:authorize="hasRole('USER')"><a class="nav-link"
						th:href="@{/profile}">Profile</a></li>

					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/students' ? 'active':''}"
						sec:authorize="hasRole('ADMIN')"><a class="nav-link"
						th:href="@{/students}">Students</a></li>

					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active':''}">
						<a class="nav-link" th:href="@{/about}">About us</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto">
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"
						sec:authorize="!isAuthenticated()"><a class="nav-link"
						th:href="@{/login}">Login <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/register' ? 'active':''}"
						sec:authorize="!isAuthenticated()"><a class="nav-link"
						th:href="@{/register}">Register</a></li>
				</ul>
				<form th:action="@{/logout}" method="post" class="form-inline"
					sec:authorize="isAuthenticated()">
					<button class="btn btn-secondary"
						sec:authentication="principal.username"></button>
					&#2647;
					<button class="btn btn-danger" type="submit">Logout</button>
				</form>
			</div>
		</nav>
	</div>
</body>
</html>