<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<meta th:charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	    <meta name="description" content="">
    	<meta name="author" content="">
		<title th:include=":: #pageTitle">Generic Title</title>
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/datatables.min.css}" rel="stylesheet">
		<link th:href="@{/css/select2.min.css}" rel="stylesheet">
		<link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
		<link th:href="@{/css/sweetalert2.min.css}" rel="stylesheet">
		<link th:href="@{/css/style.css}" rel="stylesheet">
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/datatables.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/select2.min.js}"></script>
		<script th:src="@{/js/bootbox.min.js}"></script>
		<script th:src="@{/js/sweetalert2.all.min.js}"></script>
		<script th:src="@{/js/my_app.js}"></script>
	</head>
</html>