<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}">
<title id="pageTitle">Home</title>
</head>
<body>

	<div class="wrapper">
		<div th:replace="~{fragments/navbar.html :: navbar}"></div>
		<div class="container mt-3" id="body_main">
			<div class="table-reponsive">
				<table id="my_table"
					class="table table-striped table-bordered table-hover display">
					<thead>
						<tr>
							<th>Username</th>
							<th>FirstName</th>
							<th>LastName</th>
							<th>Email</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div th:replace="~{fragments/footer.html :: footer}"></div>
	</div>
</body>
</html>